<div id="<%= dom_id presentation %>">
  <p>
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p>
    <strong>Duration in minutes:</strong>
    <%= presentation.duration_in_minutes %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= presentation.track_id %>
  </p>

  <p>
    <strong>Previous presentation:</strong>
    <%= presentation.previous_presentation_id %>
  </p>

  <p>
    <strong>Is lightning:</strong>
    <%= presentation.is_lightning %>
  </p>

  <p>
    <strong>Morning:</strong>
    <%= presentation.morning %>
  </p>

</div>
